{% for item in menu.get_items %}
	{% if item.children %}
		<li class="menu__item">
			<a class="menu__link {{ item.current_item_ancestor ? 'active' }}" href="{{ item.link }}" >
				{{ item.title }}
			</a>
			<div class="menu__dropdown">
				{% for child in item.children %}
					<a href="{{ child.link }}" class="menu__link {{ child.current ? 'active' }}"></a>
				{% endfor %}
			</div>
		</li>
	{% else %}
		<li class="menu__item">
			<a href="{{ item.link }}" class="menu__link {{ item.current ? 'active' }}" >
				{{ item.title }}			
			</a>
		</li>
	{% endif %}
{% endfor %}