{% extends "base.twig" %}

{% block content %}

	<h2 class="">{{ post.title }}</h2>
	<div>{{ post.content }}</div>
	<div class="">
	<h2 class="">Filter examples</h2>
	<p>For more information visit <a href="https://twig.symfony.com/doc/2.x/">Twig Docs</a></p>

	<div class="">
		{{ post.title }}
		{{ post.content|excerpt(20)}}
		{{ post.preview }}
		{{ post.author }}
		{{ post.date }}
		{{ post.time }}
		{{ post.id }}
		{{ post.status }}
		{{ post.type }}
		{{ post.slug }}
		{{ post.link }}

		{# add some categories and tags to see something here #}
		{{ post.categories|join(', ') }}
		{{ post.tags|join(', ') }}
		{{ rpost.terms|join(', ') }}			
	</div>

	<div>
		<h3>
			var_dump
		</h3>
		
		{{ dump(post) }}
	</div>

{% endblock %}