{% if posts.pagination.pages %}
    <nav class="pagination">
        <ul class="pagination__list">

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="pagination__item"><a class="pagination__link" href="{{ posts.pagination.prev.link }}">Previous</a></li>
            {% else %}
                <li class="pagination__item"><p class="pagination__text">Previous</p></li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                <li class="pagination__item"><a class="pagination__link" href="{{ page.link }}">{{ page.title }}</a></li>
                {% else %}
                <li class="pagination__item"><p class="pagination__text">{{ page.title }}</p></li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="pagination__item"><a class="pagination__link" href="{{ posts.pagination.next.link }}">Next</a></li>
            {% else %}
                <li class="pagination__item"><p class="pagination__text">Next</p></li>
            {% endif %}

        </ul>
    </nav>
{% endif %}