{% extends 'base.twig' %}

{% block content %}

	{# Example of include() with variables #}
	{{ include('parts/include-example.twig', { template_path: '/index.twig' }) }}

	<div
		class="container my-3">

		{# Loop for posts #}
		<h2 class="font-weight-bold">Posts</h2>
		{% for post in posts %}
			<div>
				<a href="{{ post.link }}">{{ post.title }}</a>
			</div>
		{% endfor %}

		{# Loop for pages #}
		<h2 class="mt-4 font-weight-bold">Pages</h2>
		{% for page in pages %}
			<div>
				<a href="{{ page.link }}">{{ page.title }}</a>
			</div>
		{% endfor %}


	</div>
{% endblock %}
